
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: 'Poppins', sans-serif;
    height: 3000px;
}
.logo{

    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 10%;
}
.logo img{
    width: 75px;
    height: 75px;
    object-fit: contain;
    object-position: center;
}
.tete{
    /*background-image:url(https://i.gifer.com/UqE9.gif);
    background-position: 30px;
    background-size: contain;
    background-repeat: no-repeat;*/
    background-color: black;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    z-index: 3000;

}
.info {

height: 100%;
flex: 1;
display: flex;
justify-content: center;
 align-items: center;
}
.info ul {
    display: flex;
justify-content: space-between;
 align-items: center;
}
.info ul li {
list-style: none;
    padding: 20px;
}
.info ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    }
    .info ul li a:hover{
        border-bottom: 3px solid white;
        transition: 0.2s;
        padding: 3px 0;
        }
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 100%;
}
.contact a{
    width:100%;
    height: 100%;
    text-decoration: none;
    font-size: 18px;
    color:white ;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode:difference;  
}
.contact:hover{
    background-color: white;
    color: black;
}
.logo img:hover{
    animation: rotate 1.8s    infinite ;
    animation-timeline:5s;
}
.fixed-vd{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    
}
.bmw{
    position: relative;
    width: 100%;
    height: 100%;
}
.bmw video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.bmw::before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}
@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    0%{
        transform: rotate(-360deg);
    }
}
.sect1{
    width: 100%;
    height: 100%;
    
}
.sect1 h1{
    margin-top: 90px;
}





